---
import "../styles/global.css";
import { Font } from "astro:assets";
import Header from "../components/Header.astro";
import Sidebar from "../components/Sidebar.astro";
---

<Font cssVariable="--font-roboto" preload />
<Font cssVariable="--font-oswald" preload />

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body class="bg-red-300 max-w-pr">
    <!-- <div class="drawer">
      <input id="my-drawer" type="checkbox" class="drawer-toggle" />

      <div class="drawer-content">
        <slot />
      </div>
    </div>
    <Sidebar /> -->

    <div class="drawer">
      <input id="my-drawer" type="checkbox" class="drawer-toggle" />

      <!-- Main content -->
      <div
        class="min-w-0 drawer-content max-w-prose mx-auto p-4 sm:p-2 flex flex-col gap-4"
      >
        <Header />
        <main class="">
          <slot />
        </main>
      </div>

      <!-- Sidebar -->
      <Sidebar />
    </div>

    <script>
      (function () {
        const theme = localStorage.getItem("theme");
        if (theme) {
          document.documentElement.setAttribute("data-theme", theme);
        }
      })();
    </script>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
